html,
body {
  height: 100%;

}

body {
  display: flex;
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

.header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  padding: 15px 30px;
  background: #FFFFFF;
  box-shadow: 0 1px 0 0 #E4E4E4;
}

.header__logo {
  margin-bottom: -4px;
}

.form {
  margin: auto;
  padding: 25px;
  min-width: 500px;
  font-size: 15px;
}

@media all and (max-width: 1000px){
  .form {
    min-width: auto;
  }
}

.form__title {
  margin-bottom: 12px;
  padding-left: 10px;
  letter-spacing: 0.19px;
  font-size: 16px;
}

.form__title a {
  border-bottom: 1px solid #000;
  color: inherit;
  text-decoration: none;
}

.form .form__textarea {
  box-sizing: border-box;
  padding: 10px;
  min-height: 250px;
  width: 100%;
  outline: none;
  border: 1px solid #E4E4E4;
  border-radius: 3px;
  background: #FFFFFF;
  box-shadow: inset 0 1px 2px 0 rgba(0,0,0,0.07);
  font-size: 14.2px;
  line-height: 1.5em;
  resize: none;
}

.form .form__textarea:focus {
  border-color: #5897EE;
}


.form-confirmation {
  display: flex;
  padding: 10px;
}

.form-confirmation__checkbox {
  display: flex;
  margin: auto auto auto 0;
}

.form-confirmation__checkbox label {
  margin: auto;
  color: #7F7F7F;
  letter-spacing: 0.18px;
  font-size: 15px;
  cursor: pointer;
}

.form-confirmation__button {
  display: flex;
  padding: 9px 15px;
  outline: none;
  border: 1px solid #E4E4E4;
  border-radius: 100px;
  transition: all 250ms ease-out;
  background: transparent;
}


.form-confirmation__button svg {
  margin: auto 1px auto 0;
  transition: transform 150ms ease;
  transform: translateX(-1px);
}

.form-confirmation__button--active svg{
  transform: translateX(2px) rotate(-25deg) translateY(-2px);
}


.form-confirmation__button span {
  margin: auto auto auto 8px;
  color: #7F7F7F;
  letter-spacing: 0.07px;
  font-size: 1.2em;
}

.form-confirmation__button--active {
  border-color: transparent;
  background: #5897EE;
  box-shadow: 0 8px 4px -7px rgba(34,127,255,0.63);
}

.form-confirmation__button--active span {
  color: #fff;
}

.form-confirmation__button--active svg {
  fill: #fff;
}

.form-confirmation__button:hover {
  cursor: pointer;
}

.custom-checkbox {
  position: relative;

  display: inline-block;
  margin-right: 9px;
  width: 22px;
  height: 22px;
  border: 1px solid #E4E4E4;
  border-radius: 3px;
  background: #FFFFFF;
  vertical-align: text-bottom;
  cursor: pointer;
  transition: all 300ms ease;
}

.custom-checkbox::after {
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  width: 0;
  height: 0;
  border-radius: 50%;
  background: #5897EE;
  content: '';
  transition: all 100ms ease-out;
  transform: translate(-50%, -50%);
  will-change: width, height;
}

.form-confirmation__checkbox:hover .custom-checkbox::after {
  width: 10px;
  height: 10px;
}

.custom-checkbox--active {
  border-color: transparent;
  border-radius: 50%;
}

.custom-checkbox--active::after {
  width: 100% !important;
  height: 100% !important;
  border-radius: 50%;
  background: #5897EE;
}

.custom-checkbox::before {
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 100%;
  background: url('./assets/checkbox.svg') 50% no-repeat;
  content: '';
  opacity: 0;

  transition: all 200ms ease;
  transform: rotate(-45deg);
}

.custom-checkbox--active::before {
  opacity: 1;
  transform: rotate(0deg);
}

.custom-checkbox input {
  display: none;
}

@media only screen and (max-width: 1000px) {
  .header,
  .form {
    padding: 15px;
  }

  .form__title {
    padding-left: 0px;
  }
}

/* originally authored by Nick Pettit - https://github.com/nickpettit/glide */

@keyframes wobble {
  from {
    transform: translate3d(0, 0, 0);
  }

  15% {
    transform: translate3d(-5%, 0, 0) rotate3d(0, 0, 1, -5deg);
  }

  30% {
    transform: translate3d(2%, 0, 0) rotate3d(0, 0, 1, 3deg);
  }

  45% {
    transform: translate3d(-3%, 0, 0) rotate3d(0, 0, 1, -3deg);
  }

  60% {
    transform: translate3d(2%, 0, 0) rotate3d(0, 0, 1, 2deg);
  }

  75% {
    transform: translate3d(-1%, 0, 0) rotate3d(0, 0, 1, -1deg);
  }

  to {
    transform: translate3d(0, 0, 0);
  }
}

.wobble {
  animation-name: wobble;
  animation-duration: 400ms;
}

.success {
  display: flex;
  flex-direction: column;
  margin: auto;
  padding: 25px;
  max-width: 500px;
  font-size: 15px;
}

.nebula {
  margin: auto;
  width: 100px;
  height: 100px;
  background: url('./assets/nebula.svg') no-repeat;
  animation: spin 70s infinite linear;
}

.success__title {
  margin: auto;
  margin-top: 25px;
  margin-bottom: 48px;
  font-weight: 500;
  font-size: 17px;
  letter-spacing: -0.2px;
}

.success__resend-button {
  margin: auto;
  padding-left: 19px;
  color: #0081db;
  text-decoration: none;
  cursor: pointer;
}

.success__resend-button::before {
  position: absolute;
  margin-left: -28px;
  width: 19px;
  height: 19px;
  background: url('./assets/resend.png') no-repeat;
  background-size: 19px 19px;
  content: '';
  transition: all 400ms ease-out;
  will-change: transform;
}

.success__resend-button:hover::before {
  transform: rotate(-360deg) translateX(-0.5px);
}

.dn {
  display: none;
}

.userselect {
  user-select: none;
}


@keyframes spin {
  to {
    transform: rotate(360deg);
  }
  
}