# Unique application name in lowercase
APPLICATION_NAME = 'itmoapp'

# HTTP server settings
SERVER = {
    'host': '0.0.0.0',
    'port': 1330
}

# RabbitMQ server settings
RABBITMQ = {
    'host': '127.0.0.1',
}

# MongoDB
DB = {
    'name': 'cdx-itmo',
    'host': '127.0.0.1',
    'port': 27017
}

# Token got from App Manager
APPLICATION_TOKEN = 'AAABBBCC'

USERS_COLLECTION_NAME = 'itmo_users'
STATES_COLLECTION_NAME = 'itmo_states'
QUERIES_COLLECTION_NAME = 'itmo_queries'
STUDENTS_COLLECTION_NAME = 'itmo_students'

HAWK_TOKEN = ''

API_SERVER_URI = 'http://localhost:3000'